
.headr{
    padding: 20px 50px;
    background-color:#fff;
    overflow: hidden;
    border-bottom: 1px solid #000;
}

.firs {
    float: left;
}

.first a{
    color: black;
    font-size: 24px;
    transition: background-color 0.6s ease; 
    text-shadow: 2px 2px 4px rgba(10, 10, 10, 0.5);
    transform-style: preserve-3d 0.6s;
    text-shadow: 0 0 20px #ff00ff, 0 0 30px #ff00ff;
    
    

}

.abs{
    float: right; 
    
}
.abs a{
    color: #212529;
    font-size: 20px; 
    transition: background-color 0.6s ease; 
    text-shadow: 2px 2px 4px rgba(48, 1, 1, 0.5);
    padding: 10px;
    text-shadow: 0 0 20px #3c053c, 0 0 30px #ff00ff;
}

.a:hover{

    background-color: #f4623a;
    border-radius: 15%;
  
}
.b:hover{

    background-color: #f4623a;
    border-radius: 15%;
  
}
.c:hover{

    background-color: #f4623a;
    border-radius: 15%;
    
    
}
.d:hover{

    background-color: #f4623a;
    border-radius: 15%;
    
}
.f:hover{
    background-color: rgb(115, 8, 237);
    border-radius: 15%;
    font-style: oblique;
    
}


.red{
    padding: 120px 0px;
    background-color: #f4623a;
    overflow: auto;
}

.red h1{
    text-align: center;
    color: #fff;
    margin: 0px 0px 8px;
}

.red p{
    background-color: #f4623a;
    text-align:center;
    color: #fff;
    margin: 32px 345px 24px;
    overflow: hidden;
    padding:inherit;
    border:#f4623a;
}

.red a{
    background-color: antiquewhite;
   color: #000;
   text-decoration: none;
   padding: 12px 60px;
   border: 30px;
   border-radius: 20px;
   margin: 4px 620px;
   float: right;
   text-align: center;
   transition: box-shadow 0.3s;
   transition: background-color 0.3s ease;
}


.red a:hover{
    background-color: #ff96ad;
  
    box-shadow: 0 0 5px #ff96ad,0 0 25px #ff96ad,0 0 50px #ff96ad,0 0 200px #ff96ad;
    
}


.red hr{
    height: 0.1rem;
    max-width: 4.25rem;
    margin: 1.5rem auto;
    background-color: #f4623a;
    opacity: 1;
}

.white{
    padding: 120px 0px;
    background-color: #fff;
    overflow: auto;
    float: left;
}

.service{
    margin-top: 70px;
    text-align: center;
    
}
.service h2{
    color: #000;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(77, 6, 6, 0.5);
}

.service hr{
    height: 0.2rem;
    max-width: 3.25rem;
    margin: 1.5rem auto;
    background-color: #f4623a;
    opacity: 1;
}

.sur h2{
    color: #212529;
    margin:12px 14px;
    height: 12px 12px;
    float:left;
}
.sur p{
    color: #6c757d;
    margin:22px 22px 22px 12px ;
    padding: 12px 12px 12px 12px;
}

.img{
    width: calc(100%/3);
    float: left;
    border-radius: 5px;
    padding: 0 0px;
}
.img img{
    width: 100%;
    vertical-align: bottom;
    transition: transform 0.6s;
}

.img img:hover{
    transform: scale(1.1);
}

.sur{
    width: 23%;
   float: left;
   border: 2px dashed #000;
   border-radius: 5px;
   padding: 10px;
   margin-bottom: 50px;
   width: 23%;
    /* justify-content:space-between;   */
    margin-left: 22px;
    background-color: #fff;
    transition: background-color 0.7s ease; 
    box-shadow: inset 3px 1px 14px 0px #d5312f;
}

.surcommon{
   height: auto;
   overflow: hidden;
   width: 100%
  
}

.sur svg{
    margin-left: 120px;
    
}

.sur  p{

    width: 100%;
    
    
}
.sur h2{
    width: 100%;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
  
  .my-button:hover {
    background-color: #45a049;
  }
  
  .my-button:active {
    background-color: #3e8e41;
  }
  
.sur:hover{
    background-color: #f4623a;
}

.img{
    position: relative;
  display: inline-block;
}

.img .yazi{
    visibility: hidden;
  width: 200px;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.img:hover .yazi {
    visibility: visible;
    opacity: 1;
    
  }

  
  
  
  
  
  
  
  
